@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: url('Audiowide'),
    url(../../fonts/Audiowide-Regular.ttf);
}
@font-face {
    font-family: 'DMMono';
    font-style: normal;
    font-weight: 400;
    src: url('DMMono'),
    url(../../fonts/DMMono-Regular.ttf);
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('Inter'),
    url(../../fonts/Inter-Regular.ttf);
}