* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'base/fonts';
@import 'base/general';
@import 'base/variables';
@import 'base/mixins';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/nft';
@import 'blocks/artists';
@import 'blocks/story';
@import 'blocks/parallax';
@import 'blocks/roadmap';
@import 'blocks/logoholder';
@import 'blocks/questions';
@import 'blocks/team';
@import 'blocks/discord';
@import 'blocks/footer';

.container {
  width: 97%;
  margin: 0 auto;
  max-width: 1600px;
}