* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
@import 'base/fonts';
@import 'base/general';
@import 'base/variables';
@import 'base/mixins';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/line';
@import 'blocks/cards';
@import 'blocks/body';
.container {
  width: 97%;
  margin: 0 auto;
  max-width: 1600px;
}