* {
    font-family: 'Roboto';
}
.header {
    margin-top: 10px;
    &__nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        &_ul {
            display: flex;
            margin-left: 33%;
            margin-right: auto;
            text-align: center;
            list-style: none;
            font-size: 15px;
            &-items {
                padding-right: 40px;
                a {
                    text-decoration: none;
                    color: #000;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &_button {
            width: 10%;
            &-item {
                width: 100%;
                height: 28px;
                background-color: #3671BF;
                color: #fff;
                border: none;
                border-radius: 4px;
                font-size: 13px;
                cursor: pointer;
                outline: none;
                &:hover {
                    background-color: #1F4E8C;
                    }
                }
            }
        &_phone {
            color: #000;
            text-decoration: none;
            margin-top: 5px;
            margin-left: 30px; 
            font-size: 16px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }  
}
@media (max-width: 1200px) {
    .header {
        &__nav {
            font-size: 14px;
            &_ul {
                font-size: 14px;
                a {
                    font-size: 14px;
                }
            }
        }
    }
}
@media (max-width: 1100px) {
    .header {
        &__nav {
            &_ul {
                &-items {
                    padding-right: 25px;
                    }
                }
            &_button {
                &-item {
                    font-size: 11px;
                }
            }
            }
        }
    }
@media (max-width: 1000px) {
    .header {
        &__nav {
            font-size: 13px;
            &_ul {
                font-size: 13px;
            }
            &_phone {
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 976px) {
    .header {
        &__nav {
            &_ul {
                &-items {
                    margin-top: 35px;
                    a {
                        font-size: 20px;
                    }
                }
            }
            &_button {
                font-size: 18px;
                margin-top: 20px;
            }
            &_phone {
                font-size: 13px;
            }
        }
    }
}
@media (max-width: 900px) {
    .header {
        &__icon {
            z-index: 5;
            display: block;
            position: relative;
            width: 30px;
            height: 18px;
            cursor: pointer;
            margin: 0 0 0 auto;

        }
        &__icon span, 
        &__icon::before,
        &__icon::after {
            left: 0;
            position: absolute;
            height: 10%;
            background-color: #3671bf;
            width: 100%;
            transition: all 0.3s ease 0s;
        }
        &__icon::before,
        &__icon::after {
            content: "";
        }
        &__icon::before {
            top: 0;
        }
        &__icon::after {
            bottom: 0;
        }
        &__icon span {
            top: 50%;
            transform: scale(1) translate(0px,-50%);
        }
        &__icon_active span {
            transform: scale(0) translate(0px, -50%);
            background-color: #fff;
        }
        &__icon_active::before {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
            background-color: #fff;
        }
        &__icon_active::after {
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
            background-color: #fff;
        }
        &__nav {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            padding-bottom: 30px;
            justify-content: space-between;
            transform: translate(-100%, 0px);
            transition: all 0.3s ease 0s;
            text-align: center;
            background-color: rgba($color: #000000, $alpha: 0.9);
            overflow: auto;
            &_ul {
                display: block;
                margin: 0 auto;
                &-items {
                    padding-top: 7px;
                    padding-right: 0px;
                    a {
                        color: #fff;
                    }
                }
            }
            img {
                display: none;
            }
            &_button {
                margin: 20px auto;
                background-color: #3671bf;
                width: 240px;
                border-radius: 4px;
                padding: 5px 10px;
                &-item { 
                    text-align: center;
                    background-color: rgba($color: #000000, $alpha: 0);
                    color: #fff;
                    font-size: 18px;
                        &:hover {
                            background-color: rgba($color: #000000, $alpha: 0);
                        }
                }
            }
            &_phone {
                margin: 0 auto;
                padding-top: 10px;
                font-size: 18px;
                color: #fff;
            }   
        }
        &__nav_active {
            transform: translate(0px, 0px);
        }
    }
}