.logoholder {
    background-color: #000000;
    padding-bottom: 245px;
    &__promo {
        text-align: center;
        margin: 0 auto;
        font-family: 'DMMono';
        font-size: 11px;
        color: #8DFD1B;
        margin-bottom: 60px;
    }
    &__body {
        display: flex;  
        flex-wrap: wrap;
        width: 1160px;
        justify-content: space-between;
        svg {
            margin-bottom: 60px;
        }
    }
}
@media (max-width: 1200px) {
    .logoholder {
        &__body {
            width: 1050px;
        }
    }
}
@media (max-width: 1100px) {
    .logoholder {
        &__body {
            width: 1000px;
        }
    }
}
@media (max-width: 1020px) {
    .logoholder {
        &__body {
            width: 690px;
        }
    }
}
@media (max-width: 767px) {
    .logoholder {
        &__body {
            justify-content: center;
            text-align: center;
            width: 643px;
        }
    }
}
@media (max-width: 650px) {
    .logoholder {
        &__body {
            width: 100%;
        }
    }
}