.promo {
    background-color: #000000;
    .container {
        display: flex;
        padding-bottom: 124px;
    }
        &__header {
            margin-top: 128px;
            &_subheader {
                font-family: 'Audiowide';
                color: #ffffff;
                font-size: 51px;
            }
            &_afterheader {
                margin-top: 43px;
                font-family: 'Inter';
                color: #ffffff;
                font-size: 16px;
                width: 340px;
            }
            button {
                margin-top: 115px;
                height: 60px;
                width: 205px;
                background-color: #8DFD1B;
                font-family: 'DMMono';
                font-size: 16px;
                border: none;
                cursor: pointer;    
                &:hover {
                    background-color: #70c916;
                }
            }
        }
        &__img {
            padding-top: 80px;
            img {
                width: 100%;
            }
        }
    }
@media (max-width: 1100px) {
    .promo {
        &__header {
            margin-top: 0px;
            padding-top: 80px;
        }
    }
}
@media (max-width: 960px) {
    .promo {
        &__header {
            &_subheader {
                font-size: 39px;
                width: 340px;
            }
            &_afterheader {
                font-size: 10px;
                width: 220px;
            }
            button {
                width: 140px;
                height: 34px;
                font-size: 10px;
            }
        }
    }
}
@media (max-width:700px) {
    .promo {
        &__header {
            &_subheader {
                font-size: 33px;
                width: 300px;
            }
            &_afterheader {
                font-size: 9px;
            }
            button {
                margin-top: 98px;
            }
        }
    }
}
@media (max-width: 650px) {
    .promo {
        &__header {
            padding-top: 20px;
            text-align: center;
            margin: 0 auto;
            &_subheader {
                margin-top: 50px;
            }
            &_afterheader {
                text-align: center;
                margin: 0 auto;
                margin-top: 50px;
            }
        }
        &__img {
            display: none;
        }
    }
}
@media (max-width: 300px) {
    .promo {
        &__header {
            &_subheader {
                width: 265px;
                font-size: 22px;
            }
            &_afterheader {
                font-size: 7px;
                width: 190px;
            }
        }
    }
}
